<div class="card-columns container mx-auto">

    <center>
      <div class="card shadow" style="width: 20rem; padding-bottom:10px; border-color:#781D47;">
        <img class="card-img-top" src="http://www.feteetcompagnie.fr/media//slidefetes__013340400_1443_18052016.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> Prénom: <%= @user.first_name  %></p>
          <p class="card-text"> Nom : <%= @user.last_name  %></p>
          <p class="card-text"> Description : <%= @user.description  %></p>
          <p class="card-text"><small class="text-muted"> E-mail: <%= @user.email %></small></p>
        </div>
      </div>
      <br>
    </center>

</div>
